<body class="produit-dashboard">
  <aside>
      <app-sidebar></app-sidebar>
  </aside>
  <main class="main-content">
      <!-- Navbar -->
      <app-header></app-header>
      <!-- End Navbar -->
      <div class="content-container">
          <section class="form-section">
              <h2>Modifier Produit</h2>
              <div class="form-card">
                  <form role="form" [formGroup]="form">
                      <label for="name">Name</label>
                      <div class="input-group">
                          <input type="text" id="name" formControlName="name">
                      </div>
                      <label for="price">Prix</label>
                      <div class="input-group">
                          <input type="number" id="price" formControlName="price">
                      </div>
                      <label for="idcat">Categorie</label>
                      <div class="input-group">
                          <select id="idcat" aria-label="Default select example" formControlName="idcat">
                              <option *ngFor="let s of listcategory" [value]="s.id">{{s.name}}</option>
                          </select>
                      </div>
                      <label for="disponible">Disponible</label>
                      <div class="input-group">
                          <select id="disponible" aria-label="Default select example" formControlName="disponible">
                              <option [value]="true">true</option>
                              <option [value]="false">false</option>
                          </select>
                      </div>
                      <label for="file">Picture</label>
                      <div class="input-group">
                          <input type="file" id="file" name="file" (change)="handleFileInput($event)">
                      </div>
                      <div class="form-actions text-center">
                          <button type="button" (click)="modification()">Modifier</button>
                      </div>
                  </form>
              </div>
          </section>
      </div>
      <app-footer></app-footer>
  </main>
</body>
