<aside>
  <app-sidebaragent></app-sidebaragent>
</aside>
<body class="produit-dashboard">
  <app-header></app-header>

  <main class="main-content">
    <div class="content-container">
      
      <div class="filters">
        <select [(ngModel)]="categoryId" (change)="onCategoryChange()">
          <option value="">Select a category</option>
          <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
      </div>

      <div class="product-list">
        <div class="product-card" *ngFor="let p of listproduit | paginate:{itemsPerPage:8,currentPage:c}">
          <div class="product-image">
            <img src="http://localhost:8085/produit/files/{{p.photo}}" alt="product photo">
          </div>
          <div class="product-details">
            <h6>{{p.name}}</h6>
            <p>{{p.price}} TND</p>
            <hr>
            <div class="product-actions">
              <div class="quantity-selector">
                <button (click)="decreaseQuantity(p)">-</button>
                <span>{{ p.quantity }}</span>
                <button (click)="increaseQuantity(p)">+</button>
              </div>
              <a type="button" (click)="ajouterpanier(p)">Ajouter au panier</a>
            </div>
          </div>
        </div>
      </div>
      <pagination-controls (pageChange)="c=$event"></pagination-controls>
    </div>
  </main>

  <app-footer></app-footer>
</body>
