
<div class="sidebar">
 
  
  <ul>
 
    <li>
      <a routerLink="/home">
        <div><i class="bi bi-house-door"></i></div> <!-- Bootstrap icon for home -->
        <span>Home</span>
      </a>
    </li>
    <li>
      <a routerLink="/client">
        <div><i class="bi bi-person"></i></div> <!-- Bootstrap icon for profile -->
        <span>client</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin">
        <div><i class="bi bi-shield"></i></div> <!-- Bootstrap icon for shopping cart -->
        <span>admins</span>
      </a>
    </li>
    <li>
      <a routerLink="/produit">
        <div><i class="bi bi-box"></i></div> <!-- Bootstrap icon for shopping cart -->
        <span>products</span>
      </a>
    </li>
    
    <li>
      <a routerLink="/category">
        <div><i class="bi bi-grid"></i></div> <!-- Bootstrap icon for shopping cart -->
        <span>category</span>
      </a>
    </li>
    
  </ul>
</div>

